<app-content>
  <ng-container content>

      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <h3 class="col-6">Videos</h3>
            <p class="col-6 d-lg-flex align-items-end">Browse All Videos</p>
          </div>
          <div class="row">
            <div class="col-lg-8 mb-4">
              <div class="card large-card d-flex flex-column">
                <h3 class="mt-auto">Some Text</h3>
              </div>
            </div>
            <div class="col-lg-4 mb-2">
              <div class="card mb-2 small-card d-flex flex-column">
                <h5 class="mt-auto">Some Text</h5>
              </div>
              <div class="card small-card d-flex flex-column">
                <h5 class="mt-auto">Some Text</h5>
              </div>
            </div>
            <div class="col-lg-4 mb-2">
               <div class="card small-card d-flex flex-column">
                <h5 class="mt-auto">Some Text</h5>
              </div>
            </div>
            <div class="col-lg-4 mb-2">
               <div class="card small-card d-flex flex-column">
                <h5 class="mt-auto">Some Text</h5>
              </div>
            </div>
            <div class="col-lg-4 mb-2">
               <div class="card card-last d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center">
                  <div class="dot me-2"></div>
                  <h6 class="mt-2">Upload your own video</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="d-lg-flex justify-content-between right-el">
            <h3>Activities</h3>
            <p>View timeline / Filter Activities</p>
          </div>

        </div>
      </div>

   </ng-container>
</app-content>
