<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="row w-100">
      <div class="col-md-12 d-flex justify-content-between text-center">
          <div class="navbar-toggler" type="div" >
            <span style="font-size:10px" class="navbar-toggler-icon" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"></span>
          </div>
          <div>
            <a class="navbar-brand" href="#"><h2>Social<span class="fw-light">Network</span></h2></a>
          </div>
          <div class="search">
            <input type="text" class="cusinput" placeholder="Find...">
          </div>
          <div class="upload">
            <div class="btn btn-upload">upload</div>
          </div>
          <div class="text-second profile ms-2">
            <div class="row">
              <div class="col-6">
                <div class="btn btn-profile"></div>
              </div>
              <div class="col-6">
                <h6>Waseem</h6>
                <span>Arshad</span>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-12">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="mobile mb-2">
            <div class="text-second ms-2">
                <div class="row">
                  <div class="col-6">
                    <div class="btn btn-profile" style="width: 20%"></div>
                    <div class="text-left mt-1">
                      <h6>Waseem</h6>
                      <span>Arshad</span>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="btn btn-upload mb-2" style="width: 100px;">upload</div>
                    <input type="text" class="cusinput" placeholder="Find...">
                  </div>
                </div>
              </div>
          </div>
          <div class="navbar-nav w-100">
            <a class="nav-link" href="#">Videos <span>|</span></a>
            <a class="nav-link" href="#">People <span>|</span></a>
            <a class="nav-link" href="#">Events <span>|</span></a>
            <a class="nav-link">Communities <span>|</span></a>
            <a class="nav-link">Favorites <span>|</span></a>
            <a class="nav-link">Channels </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
